<div class=" jumbotron text-center">
  <h1 class="text-center">#Meme</h1>
  <div class="form-horizontal form-group form-group-lg row">
    <!--  col-xs-offset-1 col-md-offset-2 col-sm-6 col-md-5-->
    <div class=" row-xs-10 col-xs-10  col-sm-offset-1 col-xs-offset-1 ">

      <!-- {{action 'sendMessage'}} TO-LINK-FUNCTION-->
        {{#link-to 'tutorial'}}
          <button class="btn btn-primary btn-block" name="tutorial-button">Tutorial</button>
        {{/link-to}}
        <br>
          {{#link-to 'play'}}
            <button class="btn btn-primary btn-block" name="play-button">Play</button>
          {{/link-to}}
    </div>
  </div>
  <!-- {{#if contactResponseMessage}}
  <div class="alert alert-success">
    {{contactResponseMessage}}
  </div>
{{/if}} -->
</div>
